/* Minification failed. Returning unminified contents.
 (7972,28): run-time error CSS1038: Expected hex color, found '#8e00000'
  */
/**
  * BxSlider v4.1.2 - Fully loaded, responsive content slider
  * http://bxslider.com
  *
  * Written by: Steven Wanderski, 2014
  * http://stevenwanderski.com
  * (while drinking Belgian ales and listening to jazz)
  *
  * CEO and founder of bxCreative, LTD
  * http://bxcreative.com
  */

  .bank {
    text-align: center;
    width: 145px !important;
    height: 74px !important;
    padding: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-TOP: -10px;
    margin-left: 0px;
  }
  .bank img:first-child {
    width: 12px !important;
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
  }
  
  .bca {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/G9mx20H/bca-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .mandiri {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/JHZ4hsB/mandiri-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .bri {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/3vxg4Xr/bri-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .bni {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/bXxP8wq/bni-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .danamon {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/vkDjpHz/danamon-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.bsi {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.bsi {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXgeN1.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.bsi {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.dana {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/Lg7Z84s/dana-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.dana {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/HXR4QM5/dana-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.dana {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/gWzXJJG/dana-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.gopay {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/cwSnXWQ/gopay-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.gopay {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/F7D0V6S/gopay-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.gopay {
    width: 145px !important;
    height: 94px !important;
    background: url("ttps://i.ibb.co/sqSpJKG/gopay-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.linkaja {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/F0rvWjx/linkaja-gangguan.gif") 0px
      0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.linkaja {
    width: 145px !important;
    height: 94px !important;
    background: url("hhttps://i.ibb.co/B6xZWfp/linkaja-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.linkaja {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/grcDTfG/linkaja-offline.gif") 0px
      0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.ovo {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.ovo {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.ovo {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.permata {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/Xs3xpYP/permata-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.permata {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/mJLG1fk/permata-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.permata {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/c8K7SNX/permata-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.panin {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.panin {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.panin {
    width: 145px !important;
    height: 94px !important;
    background: url("https://iili.io/dtXBLhP.gif") 0px 0px
      no-repeat !important;
  }
  
  .bca.offline {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/Lv7QYLZ/bca-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .mandiri.offline {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/dmSL1M9/mandiri-offline.gif") 0px
      0px no-repeat !important;
  }
  
  .bri.offline {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/8gpfW1n/bri-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .bni.offline {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/yRdTQ7c/bni-offline.gif") 0px 0px
      no-repeat !important;
  }
  
  .danamon.offline {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/V2bXB3w/danamon-offline.gif") 0px
      0px no-repeat !important;
  }
  
  .bca.trouble {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/943KWhM/bca-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .mandiri.trouble {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/xzxnDd1/mandiri-gangguan.gif") 0px
      0px no-repeat !important;
  }
  
  .bri.trouble {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/Sd7sT4z/bri-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .bni.trouble {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/gv0f8cp/bni-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .danamon.trouble {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/V2bXB3w/danamon-offline.gif") 0px
      0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.cimb {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/X7nzSGV/cimb-gangguan.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .online.cimb {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/Hxn6Lqy/cimb-online.gif") 0px 0px
      no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.cimb {
    width: 145px !important;
    height: 94px !important;
    background: url("https://i.ibb.co/M7dZW64/cimb-offline.gif") 0px 0px
      no-repeat !important;
  }
